<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
        <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <meta property="og:site_name" content="{{ site.title }}" />
        <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
        <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.url }}{% elsif page.tags %}{{ site.url }}/images/writings/{{ page.title | slugify }}.jpg{% else %}{{ site.dp }}{% endif %}" />
        <meta property="fb:app_id" content="998833640147940" /> 


        <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

        <!-- css --> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <!-- css end -->

        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Muli:300,400,400italic,600,700|Raleway:300,400|Open+Sans:300" rel="stylesheet" type="text/css"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <!-- Fonts end -->

        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
        <link rel="shortcut icon" type="image/icon" href="{{ site.dp }}"/>
    </head>
    <body>
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% include script.html %}
    </body>
</html>
